{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
    <body>
      <h4 style="text-align:center;">About Me</h4>
      <center>
      <img src ="{{url_for('static',filename ='images/about_me.jpg')}}" alt="Carl" width="220" height="220"/>
    </center>

      <h3 style="text-align: center; color:#1a5276;font-family:verdana;font-size: 35px">Carl Mascarenhas</h3>
   </body>
</html>

<div class="card">
  <div class="card-body">
    <div class="p-3 mb-2 bg-info text-dark">
<body>
	<p1 style = "font-size: 20px"; >

	 👋 Hi I am Carl Mascarenhas - a computer science engineer currently pursuing my bachelors degree at St. Francis Institute of Technology.<br> I code for fun and professional reasons. I create software for android, windows and basic web platforms. In my free time I like to play videogames🎮 and draw.
	</p1>
      </div>
</body>
</div>
</div>

<body>

<br>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h4>
        Languages:
        </h4>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p2 style = "font-size: 25px;color:#1a5276" >
       C, Python, SQL, HTML, Dart
            </p2>
      </div>
    </div>
  </div>
  
</div>

<br>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h4 >
        Frameworks/ Libraries
        </h4>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p2 style = "font-size: 25px;color:#1a5276" >
       Flutter, Pandas , Tkinter , Kivy, Turtle
   </p2>
      </div>
    </div>
  </div>
  
</div>

<br>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h4>
         Technologies
          </h4>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p2 style = "font-size: 25px;color:#1a5276" >
       Git, Github 

   </p2>
      </div>
    </div>
  </div>
  
</div>
<br>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h4 style = "color: #000000">
          Get in Touch
          </h4>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p2 style = "font-size: 25px;color:#1a5276" >
       <strong> Email :
            </strong>
       <a style = "font-style: Times;font-size: 25px;color:#000000" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=carlmas02@gmail.com" rel="nofollow">
        carlmas02@gmail.com
   </a>
  </p2>
<br>
<p2 style = "font-size: 25px;color:#1a5276" >
        <strong>
       Linkedin :
          </strong>
       <a style = "font-style: Times;font-size: 25px;color:#000000" href="https://www.linkedin.com/in/carl-mascarenhas-097918174" rel="nofollow">
        Carl Mascarenhas
   </a>

</p2>


      </div>
    </div>
  </div>
  
</div>








<br>


<br><br><br>

{% endblock %}

