{% extends 'base.html' %}

{% block content %}


<h1> Self-Care </h1>

<br>

<h3> There is not currently a cure for COVID-19. The aim of treatment is to manage and reduce symptoms until you have recovered. Most people - around 80% - have an asymptomatic or mild infection which can be treated at home. 
</h3>

<h5 style="color:#1a5276; font-family:verdana;">
<br>
Asymptomatic cases, mild cases of COVID-19:
<br>
•Isolate yourself in a well ventilated room.
<br>
•Use a triple layer medical mask, discard mask after 8 hours of use or earlier if they become wet or visibly soiled. 
<br>
•Mask should be discarded only after disinfecting it with 1% Sodium Hypochlorite.
<br>
•Take rest and drink a lot of fluids to maintain adequate hydration.
<br>
•Follow respiratory etiquettes at all times.
<br>
•Frequent hand washing with soap and water for at least 40 seconds or clean with alcohol-based sanitizer.
<br>
•Don’t share personal items with other people in the household.
<br>
•Ensure cleaning of surfaces in the room that are touched often (tabletops, doorknobs, etc.) with 1% hypochlorite solution.
<br>
•Monitor temperature daily.
<br>
•Monitor oxygen saturation with a pulse oximeter daily.
<br>
•Connect with the treating physician promptly if any deterioration of symptoms is noticed.


</h5>

{% endblock %}