{% extends 'base.html' %}


{% block content %}

<h1> COVID-19 pandemic in India </h1>

<p1 style = 'font-size: 20px;color: #1a5276'>

The COVID-19 pandemic in India is part of the worldwide pandemic of coronavirus disease 2019 (COVID-19) caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). The first case of COVID-19 in India, which originated from China, was reported on 30 January 2020.</p1>
<br/>
<br/>
<p2 style = 'font-size: 20px;color: #1a5276'>
 India currently has the largest number of confirmed cases in Asia.


As of May 2021, India has the second-highest number of confirmed cases in the world (after the United States) with nearly 20 million reported cases of COVID-19 infection and 226,188 deaths as of 5 May 2021.

</p2>
</body>


 {% endblock %}