{% extends 'base.html' %}


{% block content %}



<h1> Symptoms </h1>

<br>

<h3> COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.</h3>


<h5 style="color:#1a5276; font-family:verdana;">
Most common symptoms:
<br/>	
	1)Fever
<br/>
	2)Dry cough
<br/>
	3)Tiredness
</h5>

<br/>
<h5 style="color:#1a5276;font-family:verdana;">
Less common symptoms:
<br/>
•	aches and pains
<br/>
•	sore throat
<br/>
•	diarrhoea
<br/>
•	conjunctivitis
<br/>
•	headache
<br/>
•	loss of taste or smell
<br/>
•	a rash on skin, or discolouration of fingers or toes
</h5>


<br/>
<h5 style="color:#1a5276;font-family:verdana;">
Serious symptoms:
<br/>
•	difficulty breathing or shortness of breath
<br/>
•	chest pain or pressure
<br/>
•	loss of speech or movement
</h5>
<br/>


<h2 style="font-size:160%;">
	Seek immediate medical attention if you have serious symptoms. Always call before visiting your doctor or health facility.

<br/>
People with mild symptoms who are otherwise healthy should manage their symptoms at home.
On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it can take up to 14 days.

</h2>

<br><br><br>
</body>




{% endblock %}